<a href="https://colab.research.google.com/github/jaehwachung/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [2]:
from urllib3 import request

numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[:4]
print(first_four)
# 뒤 3개의 원소를 출력
last_three = numbers[-3:]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [4]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[::2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[::-1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [1]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[:2]

print(first_two_rows)

# 첫 두 열 출력: matrix를 직접 슬라이싱해서는 안 되네? 우선은 for 문을 이용해서
first_two_columns = list()
for row in matrix:
    first_two_columns.append(row[:2])

print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [1]:
numbers = [ ]

# 1 ~ 5 포함 리스트 생성
for i in range(5):
    numbers.append(i)

print(numbers)

number2 = [ x for x in range(5)]
print(number2)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [6]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
for num in numbers:
  squares.append(num ** 2)

print(squares)

squares2 = [x ** 2 for x in numbers]
print(squares2)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [9]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)

even_numbers2 = [ x for x in numbers if x % 2 == 0 ]
print(even_numbers2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [11]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 투플의 리스트 생성
for fruit in list1:
    for product in list2:
        pairs.append((fruit, product))

print(pairs)

pairs2 = [ (x, y) for x in list1 for y in list2 ]
print(pairs2)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]
[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [13]:
squares = { }

# 딕셔너리 생성
for i in range(5):
    squares[i] = i ** 2

print(squares)

squares2 = { key : key ** 2 for key in range(5) }
print(squares2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [18]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
large_cities = { city : pop for city, pop in city_population.items() if pop >= 200 }
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = { city : pop for city, pop in city_population.items() if pop >= 300 and '산' in city }
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [27]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# C 스타일 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = "이름: %s, 나이: %d, 월급: %.2f" % (name, age, salary)
# 직원이름, 나이, 세후 월급 출력
index_format = "이름: %s, 나이: %d, 세후 월급: %.2f" % (name, age, salary * 0.9)

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = "이름: %s, 나이: %d, 월급: %.2f, 세금: %.2f, 실수령액: %.2f" % (
    name,
    age,
    salary,
    salary * 0.1,
    salary * 0.9)

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000.00
이름: 홍길동, 나이: 30, 세후 월급: 3150000.00
이름: 홍길동, 나이: 30, 월급: 3500000.00, 세금: 350000.00, 실수령액: 3150000.00

In [24]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = "이름: {}, 나이: {}, 월급: {}".format(name, age, salary)
# 직원이름, 나이, 세후 월급 출력
index_format = "이름: {0}, 나이: {1}, 세후 월급: {2}".format(name, age, salary * 0.9)
# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = "이름: {name}, 나이: {age}, 월급: {salary:,.2f}, 세금: {tax:,.2f}, 실수령액: {taxed_sal:,.2f}".format(
    name=name,
    age=age,
    salary=salary,
    tax=salary * 0.1,
    taxed_sal=salary * 0.9)

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000
이름: 홍길동, 나이: 30, 세후 월급: 3150000.0
이름: 홍길동, 나이: 30, 월급: 3,500,000.00, 세금: 350,000.00, 실수령액: 3,150,000.00

In [45]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = f"이름: {name}, 나이: {age}, 월급: {salary:,.2f}"
# 직원이름, 나이, 세후 월급 출력
index_format= f"이름: {name}, 나이: {age}, 세후 월급: {salary * 0.9:,.2f}"
# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = f"이름: {name}, 나이: {age}, 월급: {salary:,.2f}, 세금: {salary * 0.1:,.2f}, 실수령액: {salary * 0.9:,.2f}"

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3,500,000.00
이름: 홍길동, 나이: 30, 세후 월급: 3,150,000.00
이름: 홍길동, 나이: 30, 월급: 3,500,000.00, 세금: 350,000.00, 실수령액: 3,150,000.00

## 2-4 컨텍스트 관리

In [47]:
# 파일 오픈 & 클로즈
file = open('output.txt', 'w')
file.write('Hello, world!\n')
file.close()

In [71]:
# 복수개의 파일(읽기 & 쓰기) 관리
with open('output.txt', 'r+') as f:
    f.write("Hello, world! It's a code of WHIT keyword.\n")
    line = f.readline()
    print(line)

Hello, world! It's a code of WHIT

In [81]:
import urllib.request

# URL 연결 관리
url = "https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv"
with urllib.request.urlopen(url) as response:
    data = response.read( ).decode('utf-8')

print(data)

학번,이름,데이터베이스,파이썬,클라우드
101,김철수,85,78,92
102,이영희,76,82,78
103,박지민,92,95,85
104,최준서,63,70,75
105,정미나,88,84,91